ansible>=2.4
molecule>=2.6
# testinfra>=1.10 # вместо него используем новый пакет pytest-testinfra
pytest-testinfra>=6.1.0 # запуск доп.тестов в molecule
python-vagrant>=0.5.15
molecule-vagrant>=0.6.1 # драйвер vagrant для molecule
